.calculator {
  border: 2px solid #ddd;
  width: 280px;
  box-sizing: border-box;
  margin: 40px auto 0;
  font-family: verdana;
}
.calculator .form-control {
  height: 60px;
}
.calculator .form-group {
  margin-bottom: 0;
}
.calculator input[type="text"] {
  font-size: 1.5rem;
  color: rgb(51, 51, 51);
}
.calculator .btn {
  font-size: 1.5rem;
  color: rgb(6, 6, 6);
  width: 80px;
}
.calculator .btn-op {
  background-color: #e2e0e0;
}
.cepapo {
  color: blue;
  background-color: rgb(119, 67, 222);
}

/* //////////////// */
#history {
  margin-left: 1.8em;
  width: 340px;
  height: 335px;
  border-radius: 8px;
  overflow-y: scroll;
  font-size: 1.1em;
  background: #33ccff;
  box-shadow: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
  box-sizing: border-box;
  padding: 10px 20px;
}

#history:hover {
  box-shadow: inset 5px 5px 8px #00ace6, inset -5px -5px 8px #00ace6;
}
/* creating srollbar for History box */
#history::-webkit-scrollbar {
  width: 1;
}
/* designing history box data */
#history h1 {
  padding: 0px 0px;
  font-size: 1.8em;
}
/* designing last appended data in History box */
#history p:last-child {
  font-size: 1.4em;
  font-weight: 500;
  color: #eee;
}
